<div id="novoJogo" class="bg">
  <div class="ui container center aligned" *ngIf="!jogoIniciado">
    <button pageScroll type="button" class="ui black button" (click)="iniciarJogo()" href="#tabuleiro">Iniciar Jogo</button>
  </div>

  <div class="ui link container center cards players" *ngIf="jogoIniciado">
    <div id="player" class="ui container center aligned card player jog1">
      <div class="image">
        <img src="{{thumbnailJogX}}" />
      </div>
      <div class="content">
        <span class="header">{{nomeJogX}}</span>
        <div class="meta">
          <span class="playerText">Jogador X</span>
        </div>
      </div>
      <div class="extra content">
        <span class="playerText">Quantidade de partidas ganhadas: {{placarJogX}}</span>
      </div>
    </div>

    <div id="player" class="ui container center aligned card player jog2">
      <div class="image">
        <img src="{{thumbnailJogO}}" />
      </div>
      <div class="content">
        <span class="header">{{nomeJogO}}</span>
        <div class="meta">
          <span class="playerText">Jogador O</span>
        </div>
      </div>
      <div class="extra content">
        <span class="playerText">Quantidade de partidas ganhadas: {{placarJogO}}</span>
      </div>
    </div>
  </div>
</div>

<div id="tabuleiro">
  <table class="tabuleiro" *ngIf="jogoIniciado" href="#novoJogo">
    <tr>
      <td class="celula celula1" [ngClass]="{ 
          'img-X': mostrarX(0,0), 
          'img-O': mostrarO(0,0), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(0,0)"></td>
      <td class="celula celula2" [ngClass]="{ 
          'img-X': mostrarX(0,1), 
          'img-O': mostrarO(0,1), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(0,1)"></td>
      <td class="celula celula3" [ngClass]="{ 
          'img-X': mostrarX(0,2), 
          'img-O': mostrarO(0,2), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(0,2)"></td>
    </tr>
    <tr>
      <td class="celula celula4" [ngClass]="{ 
          'img-X': mostrarX(1,0), 
          'img-O': mostrarO(1,0), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(1,0)" ></td>
      <td class="celula celula5" [ngClass]="{ 
          'img-X': mostrarX(1,1), 
          'img-O': mostrarO(1,1), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(1,1)"></td>
      <td class="celula celula6" [ngClass]="{ 
          'img-X': mostrarX(1,2), 
          'img-O': mostrarO(1,2), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(1,2)"></td>
    </tr>
    <tr>
      <td class="celula celula7" [ngClass]="{ 
          'img-X': mostrarX(2,0), 
          'img-O': mostrarO(2,0), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(2,0)"></td>
      <td class="celula celula8" [ngClass]="{ 
          'img-X': mostrarX(2,1), 
          'img-O': mostrarO(2,1), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(2,1)"></td>
      <td class="celula" [ngClass]="{ 
          'img-X': mostrarX(2,2), 
          'img-O': mostrarO(2,2), 
          'disabled': mostrarFinalizacao()
        }" (click)="jogar(2,2)"></td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarFinalizacao()">
  <span>
    <div class="ui container center aligned novoJogo" id="novoJogo">
      <button type="button" class="ui black button" (click)="novoJogo()">Novo Jogo</button>
    </div>
  </span>
</div>
