@import "../../assets/Semantic-UI-CSS-master/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Marvel);

button {
    font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    margin-bottom: 25px !important;
}

button:hover{
    -webkit-animation-name: startColor; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: startColor;
    animation-duration: 4s;
}

@keyframes startColor {
    from { background-color: red; }
    to { background-color: rgb(70, 8, 99); }
}

.bg {
    background-color: #ed1d24;
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.playerText {
    color: black;
    font-weight: bold !important;
}

.img-X {
    width: 33%;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/imagens/X@1.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.img-O {
    width: 33%;
    margin: 0;
    padding: 0;
    background-image: url('../../assets/imagens/O@1.png');
    background-repeat: no-repeat;
    background-position: center; 
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.tabuleiro {
    margin: 0 auto;
    margin-top: 25px;
    align-content: center;
    width: 500px; 
    height: 500px;
}

.celula {
    width: 33%;
}

.celula1, .celula2, .celula4, .celula5 {
    border-right: 3px solid;
    border-bottom: 3px solid;
}

.celula3, .celula6 {
    border-bottom: 3px solid;
}

.celula7, .celula8 {
    border-right: 3px solid;
}

@media (max-width: 353px) {
    #player.player {
        max-width: 100% !important;
        width: 290px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog1 {
        margin-top: 25px !important;
    }
    
    .jog2 {
        margin-top: 30px !important;
        margin-bottom: 35px !important;
    }
    
    .tabuleiro {
        margin: 50px auto 15px auto;
        align-content: center;
        width: 285px;
        height: 285px;
    }

    .img-X {
        width: 33%;
        margin: 0;
        padding: 0;
        background-image: url('../../assets/imagens/X@3.png');
        background-repeat: no-repeat;
        background-position: center; 
    }
    
    .img-O {
        width: 33%;
        margin: 0;
        padding: 0;
        background-image: url('../../assets/imagens/O@3.png');
        background-repeat: no-repeat;
        background-position: center; 
    }
}

@media (min-width: 354px) and (max-width: 627px) {
    #player.player {
        max-width: 100% !important;
        width: 290px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
    
    #player.jog1 {
        margin-top: 25px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    
    #player.jog2 {
        margin-top: 30px !important;
        margin-bottom: 35px !important;
    }

    @media (max-width: 349px) {
        .tabuleiro {
            margin: 50px auto 15px auto;
            align-content: center;
            width: 285px;
            height: 285px;
        }

        .img-X {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/X@3.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
        
        .img-O {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/O@3.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
    }

    @media (min-width: 354px) and (max-width: 399px) {
        .tabuleiro {
            margin: 50px auto 15px auto;
            align-content: center;
            width: 300px;
            height: 300px;
        }

        .img-X {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/X@3.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
        
        .img-O {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/O@3.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
    }
    
    @media (min-width: 400px) and (max-width: 469px) {
        .tabuleiro {
            margin: 50px auto 15px auto;
            align-content: center;
            width: 350px;
            height: 350px;
        }

        .img-X {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/X@2.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
        
        .img-O {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/O@2.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
    }

    @media (min-width: 470px) and (max-width: 627px) {
        .tabuleiro {
            margin: 50px auto 15px auto;
            align-content: center;
            width: 400px;
            height: 400px;
        }

        .img-X {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/X@2.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
        
        .img-O {
            width: 33%;
            margin: 0;
            padding: 0;
            background-image: url('../../assets/imagens/O@2.png');
            background-repeat: no-repeat;
            background-position: center; 
        }
    }
}

@media (min-width: 628px) and (max-width: 675px) {
    #player.player {
        max-width: 100% !important;
        width: 290px !important;
        margin-top: 25px !important;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
}

@media (min-width: 676px) and (max-width: 767px) {
    #player.player {
        max-width: 100% !important;
        display: flex !important;
        width: 290px !important;
        margin-top: 25px !important;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    #player.jog1 {
        margin-right: 0px !important;
    }
}

@media (min-width: 768px) {
    #player.player {
        margin-top: 25px !important;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    #player.jog1 {
        margin-left: 65px !important;
    }
    
    #player.jog2 {
        margin-right: 65px !important;
    }
}

@media (min-width: 992px) {
    #player.player {
        margin-top: 25px !important;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    #player.jog1 {
        margin-left: 170px !important;
    }
    
    #player.jog2 {
        margin-right: 170px !important;
    }
}

@media (min-width: 1024px) {
    #player.player {
        margin-top: 25px !important;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    #player.jog1 {
        margin-left: 160px !important;
    }
    
    #player.jog2 {
        margin-right: 160px !important;
    }

    .tabuleiro {
        margin: 30px auto 15px auto;
        align-content: center;
        width: 580px;
        height: 580px;
    }
}

@media (min-width: 1200px) {
    #player.player {
        margin-top: 70px !important;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
    
    #player.jog1 {
        margin-left: 255px !important;
    }
    
    #player.jog2 {
        margin-right: 255px !important;
    }

    .tabuleiro {
        margin: 50px auto 15px auto;
        align-content: center;
        width: 600px;
        height: 600px;
    }
}
