@import "../../assets/Semantic-UI-CSS-master/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Marvel);

h2, input {
    font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
}

button:hover{
    -webkit-animation-name: colorChange; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: colorChange;
    animation-duration: 4s;
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
}

.player {
    max-width: 100% !important;
    display: flex !important;
    width: 290px !important;
    margin-top: 10px !important;
    font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
}

.jogadorHeader {
    background-color: #ed1d24;
    color: #fff;
}

.btn-buscar {
    background-color: black !important;
}

.jogador {
    width: 215px;
}

/*@media (min-width: 676px) and (max-width: 767px) {
    .player {
        max-width: 100% !important;
        display: flex !important;
        width: 290px !important;
        margin-top: 50px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    #jog1.jog1 {
        margin-right: 5px !important;   
    }
}*/

.imgCard {
    width: 300px !important;
}

@keyframes colorChange {
    from { background-color: red; }
    to { background-color: rgb(172, 26, 164); }
}

@media (min-width: 358px) and (max-width: 410px) {
    h2 {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 675px) {
    .players {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .field, .playerCard {
        align-content: center;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog1, #card1.card1 {
        margin-bottom: 30px !important;
    }

    .jog2 {
        margin-bottom: 15px !important;
    }

    #card2.card2 {
        margin-bottom: 50px;
    }
}

@media (min-width: 676px) and (max-width: 767px) {
    .field {
        align-content: center;
        margin-bottom: 5px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog1 {
        margin-right: 5px !important;
    }

    .jog2 {
        margin-left: 5px !important;
    }

    .playerCard {
        align-content: center;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important; 
    }

    #card2.card2 {
        margin-left: 5px;
    }
}

@media (min-width: 768px) {
    .field {
        align-content: center;
        margin-bottom: 5px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog1 {
        margin-right: 5px !important;
    }

    .jog2 {
        margin-left: 5px !important;
    }

    .playerCard {
        align-content: center;
        margin-bottom: 35px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important; 
    }
}

@media (min-width: 1024px) {
    .field {
        align-content: center;
        margin-bottom: 15px !important;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog1 {
        margin-right: 15px !important;
    }

    .jog2 {
        margin-left: 15px !important;
    }

    .playerCard {
        align-content: center;
        margin-bottom: 35px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important; 
    }

    #card1.card1 {
        margin-right: 20px;
    }

    #card2.card2 {
        margin-left: 15px;
    }
}
