@import "../../assets/Semantic-UI-CSS-master/semantic.css";
@import url(https://fonts.googleapis.com/css?family=Marvel);

h2, input {
    font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
}

button:hover{
    -webkit-animation-name: colorChange; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: colorChange;
    animation-duration: 4s;
}

.fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #ed1d24;
    color: #fff;
}

.btn-buscar {
    background-color: black !important;
}

.jogador {
    width: 215px;
}

@keyframes colorChange {
    from { background-color: red; }
    to { background-color: rgb(172, 26, 164); }
}

@media (min-width: 358px) and (max-width: 410px) {
    h2 {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 675px) {
    .fields {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .jog1 {
        align-content: center;
        margin-bottom: 30px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog2 {
        align-content: center;
        margin-bottom: 15px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
}

@media (min-width: 676px) and (max-width: 767px) {
    .jog1 {
        align-content: center;
        margin-right: 5px;
        margin-bottom: 5px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog2 {
        align-content: center;
        margin-left: 5px;
        margin-bottom: 5px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
}

@media (min-width: 768px) {
    .jog1 {
        align-content: center;
        margin-right: 5px;
        margin-bottom: 5px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog2 {
        align-content: center;
        margin-left: 5px;
        margin-bottom: 5px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
}

@media (min-width: 1024px) {
    .jog1 {
        align-content: center;
        margin-right: 15px;
        margin-bottom: 15px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }

    .jog2 {
        align-content: center;
        margin-left: 15px;
        margin-bottom: 15px;
        font-family: 'Marvel', Arial, Helvetica, sans-serif !important;
    }
}
